@font-face {
    font-family: PixElegance;
    src: url('PixelatedElegance.ttf');
}

.Furniture {
    width: 300px;
    height: 300px;        
    background-image: url('Textures/RoomAssets.png');
    background-size: 3300px 300px;
    image-rendering: pixelated;
}

#Counter, #WaitingRoom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1200px;
    display: flex;
}

.NPC {
    width: 480px;
    height: 720px;
    background-size: 5760px 5760px;
    image-rendering: pixelated;
}


#TextBubble {
    border: 1px solid black;
    width: 700px;
    height: 300px;
    position: relative;
    left: 400px;
    padding: 10px;
    font-family: PixElegance;
}

button {
    width: 200px;
    height: 50px;
    font-family: PixElegance;
}

#buttons {
    position: absolute;
    bottom: 10px;
    width: 410px;
    left: 50%;
    transform: translate(-50%);
}