.Furniture {
    width: 300px;
    height: 300px;        
    background-image: url('Textures/RoomAssets.png');
    background-size: 3300px 300px;
    image-rendering: pixelated;
}

#Counter, #WaitingRoom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1200px;
    display: flex;
}

#NPC {
    width: 480px;
    height: 720px;
    background-image: url('Textures/NPC4.png');
    background-size: 5760px 5760px;
    image-rendering: pixelated;
}
